
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Name : <input name="name" type="text"><br>
    Email: <input name="email" type="email"><br>
    Mobile_no : <input name="mobile_no" type="text"><br>
    DOB :<input name="dob" type="date"><br>
    Qualification : <input name="qualification" type="text"><br>
    Experience : <input name="experience" type="text"><br>
    Salary : <input name="salary" type="text"><br>
    Image : <input name="image" type="file"><br>
    Department : <select name="department">
    <option value=""></option>
    {% for d in dept%}
    <option value="{{d.department_name}}">{{d.department_name}}</option>
    {% endfor %}
    </select><br>
    <input type="submit" value="Add">
</form>
<br><br>
<a href="{% url 'apps:index' %}"> HOME </a>
<br><br>
<br>
<a href="{% url 'apps:logout' %}"><input type="submit" value="Logout"></a>